<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="description"
    content="Fullstack Software Engineer specializing in web and mobile applications. Django, JavaScript, ASP.NET CORE, Angular/React and Node JS." />
<meta name="keywords" content="Full Stack Development, Angular 9, Node JS, Android, Favour Onuoha, ValiantCoder, Valiant Studios" />
<meta name="author" content="Favour Onuoha (ValiantCoder)" />
<title>Favour Onuoha</title>
<link rel="icon" href="assets/images/my-logo.png" />
<link href="https://fonts.googleapis.com/css?family=DM+Sans|Merriweather" rel="stylesheet" />
<link href="assets/styles.css" rel="stylesheet" />