<nav class="navbar">
    <img class="logo" src="assets/images/my-logo.png" alt="logo" />
    <ul class="navbar-menu">
        <li><a href="https://blog.clintonmbah.com"></a></li>
        <li><a href="https://github.com/mclintprojects"></a></li>
        <li><a href="https://twitter.com/mclint_"></a></li>
        <li>
            <a href="https://instagram.com/m.clint"></a>
        </li>
    </ul>
</nav>